<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.usb.host" android:required="true" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="false"
        android:label="LG UltraFine Brightness"
        android:icon="@drawable/ic_launcher_ultrafine"
        android:roundIcon="@drawable/ic_launcher_ultrafine"
        android:theme="@style/Theme.LGUltraFineBrightness">

        <activity android:name=".MainActivity" android:exported="false" />
        <activity
            android:name=".PatchedMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" android:resource="@xml/device_filter" />
        </activity>

        <service android:name=".UltraFineService" android:exported="false" android:foregroundServiceType="connectedDevice" />
        <receiver android:name=".ControlReceiver" android:exported="false" />

        <service android:name=".AutoTileService" android:label="UltraFine Auto" android:icon="@drawable/ic_launcher_ultrafine" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true">
            <intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter>
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE" android:value="true" />
        </service>

        <service android:name=".ProfileTileService" android:label="UltraFine Profile" android:icon="@drawable/ic_launcher_ultrafine" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true">
            <intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter>
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE" android:value="true" />
        </service>
    </application>
</manifest>
